%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

%svg-arrow-alt-circle-down {
	@extend %svg-common;
	background-position: 0 35.56149732620321%;
}

%svg-arrow-alt-circle-down-dims {
	width: 532px;
	height: 532px;
}

%svg-arrow-right {
	@extend %svg-common;
	background-position: 75.44303797468355% 35.56149732620321%;
}

%svg-arrow-right-dims {
	width: 468px;
	height: 532px;
}

%svg-check {
	@extend %svg-common;
	background-position: 0 100%;
}

%svg-check-dims {
	width: 432px;
	height: 432px;
}

%svg-facebook {
	@extend %svg-common;
	background-position: 33.67088607594937% 35.56149732620321%;
}

%svg-facebook-dims {
	width: 468px;
	height: 532px;
}

%svg-github {
	@extend %svg-common;
	background-position: 77.80678851174935% 0;
}

%svg-github-dims {
	width: 516px;
	height: 532px;
}

%svg-odnoklassniki {
	@extend %svg-common;
	background-position: 100% 0;
}

%svg-odnoklassniki-dims {
	width: 340px;
	height: 532px;
}

%svg-plus-circle {
	@extend %svg-common;
	background-position: 0 71.12299465240642%;
}

%svg-plus-circle-dims {
	width: 532px;
	height: 532px;
}

%svg-search {
	@extend %svg-common;
	background-position: 35.09234828496042% 71.12299465240642%;
}

%svg-search-dims {
	width: 532px;
	height: 532px;
}

%svg-twitter {
	@extend %svg-common;
	background-position: 70.18469656992085% 71.12299465240642%;
}

%svg-twitter-dims {
	width: 532px;
	height: 532px;
}

%svg-vk {
	@extend %svg-common;
	background-position: 41.04683195592286% 0;
}

%svg-vk-dims {
	width: 596px;
	height: 532px;
}

%svg-youtube {
	@extend %svg-common;
	background-position: 0 0;
}

%svg-youtube-dims {
	width: 596px;
	height: 532px;
}

