@import "variables";
@import "functions";
@import "extends";
@import "mixins";

/*main*/
.main{
	padding-top: 60px;
}

/*full-page*/
.full-page{
	@extend %fwh;
	padding-top: 100px;
	overflow: hidden;
	&_middle{
		display: flex;
		align-items: center;
		&__inner{
			width: 100%;
		}
	}
}

/*section*/
.section{
	padding-top: 30px;
	padding-bottom: 30px;
}

/*list*/
.list{
	list-style: none;
	li{
		line-height: (24/16);
		padding-left: 30px;
		margin: em(30) 0;
		position: relative;
		&:before{
			@extend %ab;
			width: 9px;
			height: 9px;
			position: absolute;
			left: 3px;
			top: 6px;
			background: $rd;
		}
	}	
}

/*image*/
.fullwidth-img{
	width: 100%;
	height: auto;
}

/* title */
.title{
	font-size: 30px;
	font-weight: 700;
	margin-bottom: em(35,30);
}

/* article */
.article{
	h2{
		font-size: 22px;
		font-weight: 700;
		margin: em(45,22) 0 em(30,22);
		@include fch(t);
	}
	p{
		line-height: (22/16);
		margin: em(20) 0;
	}
	pre{
		line-height: (27/16);
		padding: 10px 15px;
		margin: em(20) 0;
		background: $oe2;
	}
	code{
		padding: 5px;
		background: $oe2;
	}
	blockquote{
		line-height: (22/16);
		margin: em(20) 0;
		color: $oe;
		padding: 15px 30px;
		background: $bk;
		code{
			color: $bk;
		}
	}
}