@import "../../../sass/variables";
@import "../../../sass/functions";
@import "../../../sass/extends";
@import "../../../sass/mixins";

.lang{
	@include clr;
	list-style: none;
	float: left;
	margin-left: 50px;
	&__item{
		float: left;
	}
	&__a{
		display: inline-block;
	}
}